*{
    text-align: center;
    margin: auto;
    padding:5px;
}

body{
    background-color:beige;
}

.selected{
    border-bottom: 3px white solid;
    color:white;
}
.selected a{
    border-bottom: 3px white solid;
    color: white !important;
}

.courses {
    margin:auto;
    display:table;
}

.navi li a{
    color: rgb(151,151,151);
    padding: 30px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
.navi a:hover{
    color:white;
    text-decoration: none;
}
.navi a:visited{
    text-decoration: none;
}
.navi li{
    margin:auto;
    position: relative;
    overflow:hidden;
    display: inline-block;
    list-style-type: none;
}
.navi{
    background-color: black;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    list-style-type: none;
}

h2{
   text-decoration: underline;
   text-underline-position: under;
}

.game{
    text-align: center;
    color:black;
    background-repeat: no-repeat;
}


article{
    margin:auto;
    text-align:center;
    width:50%;
    height:310px;
    background-repeat: no-repeat;
    background:black;
}